doctype html
html(lang='zh-tw')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='keyword', content='')
    link(rel='icon', type='image/png', href='favicon.png')
    title 自己打的
    // fontawesome5.7.2
    link(rel='stylesheet', href='../css/base/fontawesome-5.9.0/css/all.css')
    link(rel='stylesheet', href='../css/style.css')
  body
    p.happy test
    // jquery
    script(src='js/base/jquery/jquery.min-1.12.4.js')
    // bootstrap
    script(src='js/base/bootstrap3/bootstrap.min.js')
    // vue
    script(src='https://cdn.jsdelivr.net/npm/vue')
