//用important 是為了要蓋掉bootstrap等設定，若不需要可以去掉；
//px 請個別設定，因為 py質不一定為0

//=========padding 迴圈變數===========
@for $i from 0 through 10 {
  .p-#{$i * 5}{
    padding:  $i * 5px !important;
  }
}
@for $i from 0 through 10 {
  .px-#{$i * 5}{
    padding-left:  $i * 5px !important;
    padding-right:  $i * 5px !important;
  }
}
@for $i from 0 through 10 {
  .pl-#{$i * 5}{
    padding-left:  $i * 5px !important;
  }
}
@for $i from 0 through 10 {
  .pr-#{$i * 5}{
    padding-right:  $i * 5px !important;
  }
}
@for $i from 0 through 10 {
  .pb-#{$i * 5}{
    padding-bottom:  $i * 5px !important;
  }
}
//此處是為了同bootstrap的使用 是由小寫到大的方式
@media(min-width: 768px) {
  @for $i from 0 through 10 {
    .pl-sm-#{$i * 5}{
      padding-left:  $i * 5px !important;
    }
  }
}

//=========margin 迴圈變數===========
@for $i from 0 through 10 {
  .m-#{$i * 5}{
    margin: $i * 5px !important;
  }
}
@for $i from 0 through 10 {
  .mx-#{$i * 5}{
    margin-left:  $i * 5px !important;
    margin-right:  $i * 5px !important;
  }
}
@for $i from 0 through 10 {
  .my-#{$i * 5}{
    margin-top: $i * 5px !important;
    margin-bottom: $i * 5px !important;
  }
}
@for $i from 0 through 10 {
  .mt-#{$i * 5}{
    margin-top:  $i * 5px !important;
  }
}
@for $i from 0 through 10 {
  .mb-#{$i * 5}{
    margin-bottom:  $i * 5px !important;
  }
}
@for $i from 0 through 10 {
  .ml-#{$i * 5}{
    margin-left:  $i * 5px !important;
  }
}
@for $i from 0 through 10 {
  .mr-#{$i * 5}{
    margin-right:  $i * 5px !important;
  }
}

@media(min-width: 768px) {
  @for $i from 0 through 10 {
    .mb-sm-#{$i * 5}{
      margin-bottom:  $i * 5px !important;
    }
  }
}

@media(min-width: 768px) {
  @for $i from 0 through 10 {
    .mt-sm-#{$i * 5}{
      margin-top:  $i * 5px !important;
    }
  }
}
@media(min-width: 768px) {
  @for $i from 0 through 10 {
    .ml-sm-#{$i * 5}{
      margin-left:  $i * 5px !important;
    }
  }
}


//--------------------------------------------------------------------------------
// ------------ Metarial Design Boxshadow Mixin
//--------------------------------------------------------------------------------
// Created by @KingRayhan
// @url rayhan.info
@mixin mboxshadow($depth:1) {
  @if $depth==1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  @else if $depth==2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  @else if $depth==3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  @else if $depth==4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  @else if $depth==5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}