//===========而外添加位置屬性==============
$blue: #85A1B6;
$red: #64343F;
$white: #fff;
$gray: #C5C5C5;
$gray-light:#E0E0E0;
$gray-lighter:#EAEAEA;
$gray-lightest:#F2F2F2;
$gray-dark: #707070;
$gray-darker: #8F8F8F;
$gray-darkest: #666;
$green: #79AA82;
$orange: #E99A56;
$red-light: #FF5353;
$blue-light: #61A6C9;
$yellow: #F2DC6B;
//--------------

$main-color: $red;
$seco-color: $blue;

$font-white: $white;
$font-color: $gray-dark;
$font-color-light: $gray-lightest;

$navbar-bg: $white;
$bg-gray: $gray-light;
$athInput__Icon-bgColor:$white;

$line-gray: $gray;
$box-shadow: $gray;

$info-color: $green;
$prompt-color: $orange;
$disable-color: $gray;
$warning-color: $red-light;


$font-family: "微軟正黑體", "Microsoft JhengHei","Segoe UI",sans-serif;
$font-size: 16px;
$line-height: 1.8;



